[Unit]
Description=Restore LSP state
After=sound.target

[Service]
User=<user>
Group=audio
Type=oneshot
ExecStartPre=/usr/bin/sleep 15
ExecStart=/usr/local/bin/lasp-dac_added.sh

[Install]
WantedBy=multi-user.target
